---

---

<nav class="flex items-center justify-evenly mb-7">
    <div>
        <img
            class="max-w-23"
            src="https://grupoprimak.com/image/Logo.png"
            alt="logo"
        />
    </div>

    <ul class="flex justify-center gap-8 mt-1">
        <li><a href="/">INICIO</a></li>
        <li><a href="sobre-mi">SOBRE MI</a></li>
        <li><a href="">CONTACTO</a></li>
    </ul>
</nav>
