---

---

<nav>
    <ul class="flex justify-center gap-8 text-2xl mt-1">
        <li><a href="/">INICIO</a></li>
        <li><a href="sobre-mi">SOBRE MI</a></li>
        <li><a href="">CONTACTO</a></li>
    </ul>
</nav>
