---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

// Supports weights 100-900
// import "@fontsource-variable/inter";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body>
        <div
            class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
        >
            <Navbar />
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        font-family: "atkinson", sans-serif;
    }
</style>
